main {
    margin-top: 100px;
   display: flex;
   justify-content: center;
   
}
.list-group-item:hover {
background-color:greenyellow;
}
header
{
    background-color: rgb(116, 197, 116);
   padding: 10px;
 
}
#easter-egg
{
    display: none;
}
.add-score{
    display: none;
}
.list-group{
    width: 400px;
}
.list-group{
    visibility: hidden;
}
.btn-primary
{
    background-color: purple;
    border-color: rosybrown;
}
.btn-primary:hover
{
    background-color: rebeccapurple;
}
.wrap
{
    margin: 20px;
}